.header{
    display: flex;
    gap: 10px;
    justify-content:space-around;
    height: 58px;
    width: 100%;
    margin: 10px;
    padding: 20px 10px;
}

.header h1{
    font-size: 34px;
    margin: 20px;
}

.header button{
    margin: 10px;
    cursor: pointer;
}